* {
  font-family: proxima-nova, sans-serif;
}
body {
  background-image: url("../images/spotter_background.png");
}
video {
  height: 1px;
  width: 1px;
}
p {
  font-weight: 700;
  max-width: 400px;
}
li {
  font-size: 12px;
}
.logo {
  max-height: 100px;
  padding-top: 3rem;
}
