.playlistItem {
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.playlistImg {
  width: 100%;
}
.playlistConImg {
  max-width: 50px;
  margin-right: 5px;
}
h1 {
  padding-left: 1rem;
  color: rgb(41, 41, 41);
  // position: absolute;
}
.playlistTitle {
  position: absolute;
  background-color: #ffffff9a;
  width: 432px;
}
.itemsInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}
